/* Services.scss */
#serviceRow {
    min-height: 100vh; /* Ensure the row fills the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
}

#service {
    min-height: 100vh; /* Ensure the container fills the viewport height */
    position: relative;
}

.services-background {
    min-height: 100vh; /* Ensure the background fills the viewport height */
    background-image: url('../../assets/GYM-Fitness-Wallpaper-HD.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Place behind other elements */
    background-attachment: fixed;
}
